:root {
    --grey:         #9da5af;
    --blue:         #82aadc;
    --white:        #ddd;
    --black:        #222;
}



body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: sans-serif;
}

a, a:visited {
    color: var(--white);
    text-decoration: none;
}

h2 {
    color: var(--blue);
    font-size: 24px;
    margin: 15px 0;
}

h3 {
    color: var(--grey);
    font-weight: normal;
    font-size: 24px;
    margin: 15px 0;
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey);
    max-width: 220px;
    max-height: 220px;
}

header h1{
    padding: 1rem;
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(10, 1fr);
}

.searching_bar{
    grid-row: 1 / 11;
    background-color: var(--grey);
}
