:root {
    --grey:         #9da5af;
    --blue:         #82aadc;
    --white:        #ddd;
    --black:        #222;
    --tgrey:        rgba(157, 165, 175, 0.15);
    --twhite:       rgba(221, 221, 221, 0.15);
    --tblack:       rgba(34,  2,   0,   0.15);
}

.filter_box {
    color: var(--white);
    margin-bottom: 1rem;
}

.box_title {
    background-color: var(--twhite);
    font-weight: bolder;
    font-size: 16px;
    margin: 0;
    padding: 1rem;
    width: auto;
}

.box_content {
    background-color: var(--tgrey);
}

.category_name, .box_tags {
    display: flex;
    font-weight: bolder;
    font-size: 14px;
    padding: 1rem;
    border-top: solid 1px var(--twhite);

    justify-content: space-between;
}

.arrow, .cross {
    max-width: 1rem;
    max-height: 1rem;
}

.filters, .box_tag {
    background-color: var(--tblack);
}

.filter_tag, .box_tag {
    padding: 1rem;
    border-top: solid 1px var(--twhite);
}

.box_tags {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box_tag {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5rem;
}