.filter_box {
    color: var(--white);
    margin-bottom: 1rem;
}

.box_title {
    background-color: var(--dark_grey);
    font-weight: bolder;
    font-size: 16px;
    margin: 0;
    padding: 1rem;
    width: auto;
}

/*
.box_content {
     background-color: var(--tgrey); 
}
*/

.category_name, .box_tags {
    display: flex;
    font-weight: bolder;
    font-size: 14px;
    padding: 1rem;
    border-top: solid 1px var(--dark_grey);
    background-color: var(--deep_grey);
    justify-content: space-between;
}

.arrow {
    max-width: 1rem;
    max-height: 1rem;
}

.cross {
    max-width: 0.6rem;
    max-height: 0.6rem;
    margin: auto;
}

.filters, .box_tag {
    background-color: var(--deep_black);
}

.filter_tag, .box_tag {
    padding: 1rem;
    border-top: solid 1px var(--deep_grey);
}

.box_tags {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box_tag {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}