:root {
    --grey:         #9da5af;
    --blue:         #82aadc;
    --white:        #ddd;
    --black:        #222;
}

.publication {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 250px 1fr;
    margin: 1.5rem;
    border-bottom: solid 1px var(--grey);
    padding-bottom: 1rem;
}

/*  Cote gauche de la publication 
    -------------------------------
*/

.bord_gauche {
    grid-row: 1 / 3;
}

/*  Cote droit de la publication 
    -------------------------------
*/

/* Zone des auteurs et leur photo */
.auteurs, .auteur {
    display: flex;
    margin-right: 0.5rem;
}

/* Photo d'un auteur */
.miniature {
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}

/* Nom de l'auteur */
.auteurs h3 {
    margin: auto;
    text-decoration: underline;
}

/* Source de la publication */
.ouvrage {
    display: flex;
}

/* Aperçu du resume de la publication */
.aperçu {
    text-align: justify;
    grid-column: 2;
}