:root {
    --grey:         #9da5af;
    --blue:         #82aadc;
    --white:        #ddd;
    --black:        #222;
}

.publication {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 250px 1fr;
    margin: 1.5rem;
    border-bottom: solid 1px var(--grey);
    padding-bottom: 1rem;
}

.apercu {
    grid-column: 2;
}

.bord_gauche {
    grid-row: 1 / 3;
}

.miniature {
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}

.auteurs, .auteur {
    display: flex;
    margin-right: 0.5rem;
}


.auteurs h3 {
    margin: auto;
}

.auteur{
    text-decoration: underline;
}

.ouvrage {
    display: flex;
}

.aperçu {
    text-align: justify;
}