/*  Styles globaux 
    -------------------------------
*/

h5 {
    grid-column: 1 / 3;
    font-size: 18px;
    background-color: var(--dark_grey);
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Footer du corps du formulaire */
footer {
    display: flex;
    grid-column: 2;
    justify-content: space-around;
    margin: 1rem 33% 1rem 33%;
}

/* classe utiliser pour les checkbox */
.checkbox {
    margin-right: 1rem;
    
}

/* Classes pour les boutons de validation et boutons de reinitialisation */
.submit, .reset {
    color: var(--white);
    background-color: var(--dark_grey);
    border: none;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 7rem;
}

/*  Styles des classes
    -------------------------------
*/

/* L'elem lui même */
.form {
    margin-bottom: 1rem;
}

/* Corps du formulaire */
.main_form {
    margin: auto;
    max-width: 750px;
}

/* Tag */
.tag {
    display: flex;
    grid-column: 1 / 2;
    padding: 0.5rem;
}