/* Zone principale */
.filter_box {
    color: var(--white);
    margin-bottom: 1rem;
}

/* Titre pour la zone des filtres et zone des filtres applquees*/
.box_title {
    background-color: var(--dark_grey);
    font-weight: bolder;
    font-size: 16px;
    margin: 0;
    padding: 1rem;
    width: auto;
}

.category_name, .box_tags {
    display: flex;
    font-weight: bolder;
    font-size: 14px;
    padding: 1rem;
    border-top: solid 1px var(--dark_grey);
    background-color: var(--deep_grey);
    justify-content: space-between;
}

/* Icon de fleche */
.arrow {
    max-width: 1rem;
    max-height: 1rem;
}

/* Icon de croix */
.cross {
    max-width: 0.6rem;
    max-height: 0.6rem;
    margin: auto;
}

.filters, .box_tag {
    background-color: var(--deep_black);
}

/* Tag */
.filter_tag, .box_tag {
    padding: 1rem;
    border-top: solid 1px var(--deep_grey);
}

.box_tags {
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Tag */
.box_tag {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}