.publication {
    display: grid;
    grid-auto-rows: minmax(auto, auto);
    grid-template-columns: 200px 1fr;
    background-color: var(--deep_black);
    margin: 0 1.5rem 1rem;
    /* border-bottom: solid 1px var(--grey); */
    /* box-shadow: 0.25rem 0.25rem 0.25rem var(--tblue); */
    padding: 1rem;
}

/*  Cote gauche de la publication 
    -------------------------------
*/
.bord_gauche {
    grid-row: 1 / 4;
}

.image {
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey);
}

/*  Cote droit de la publication 
    -------------------------------
*/

/* Zone des auteurs et leur photo */
.auteurs, .auteur {
    display: flex;
    margin-right: 0.5rem;
}

/* Photo d'un auteur */
.miniature {
    border-radius: 50%;
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
}

/* Nom de l'auteur */
.auteurs h3 {
    margin: auto;
    text-decoration: underline;
}

/* Source de la publication */
.ouvrage {
    display: flex;
}

/* Aperçu du resume de la publication */
.apercu {
    text-align: justify;
    grid-column: 2;
}

/* Liens externes */
.liens {
    display: flex;
    justify-content: flex-end;
}

.icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-left: 0.5rem;
}